body {
    background-image: url("fire-ice-wallpaper_773041-183-_1_-transformed.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.converter-body {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 60%;
    Left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 50px black;
    border-radius: 50px;
}

.converter-title {
    text-align: center;
    margin: 13px 0px;
    color:greenyellow;;
}

input {
    height: 65px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    color: greenyellow;
    background-color: rgb(45, 45, 45);
}

#input {
    margin-left: 30px;
}

#inputType,
#resultType {
    width: 170px;
    margin-top: 10px;
    margin-left: 50px;
    color: greenyellow;
    background: rgb(45, 45, 45);
    border-radius: 50px;
    text-align: center;
}

#resultType {
    margin-left: 50px;
}
.converter-title1 {
    text-align: center;
    margin: 13px 0px;
    color: wheat;
    margin: 90px;
    font-family: garamond;
    font-weight: 100;
    background-color: transparent;
    color: yellowgreen;
    font-size: 70px;
}
.equal{
    font-size: 35px;
}